<div class="wrapper">
  <h2 class="center-align">Mon Profil</h2>
  <div class="container" >
    <div class= "row">
      <div class="offset-s2 col s8 offset-s2 center-align" >
        <%= simple_form_for @user, url: profile_path, method: :patch do |f| %>
          <div class="card_coordonnees">
            <h5 class="left-align">Mes Coordonnées</h5>
            <div class="row">
              <div class="col s12 center-align">
                <div class="row">
                  <div class="input-field col s6">
                    <%=f.input :first_name %>
                  </div>
                  <div class="input-field col s6">
                    <%=f.input :last_name %>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <%=f.input :phone_number, input_html: { "data-length" => 12 } %>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <%=f.input :address %>
                  </div>
                </div>
                 <div class="row">
                  <div class="input-field col s6">
                    <%=f.input :zip_code %>
                  </div>
                  <div class="input-field col s6">
                    <%=f.input :city %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card_preferences">
            <h5 class="left-align">Mes Préférences</h5>
                <div class="row">
                  <div class="input-field col s12">
                    <%=f.input :address %>
                  </div>
                </div>
                 <div class="row">
                  <div class="input-field col s6">
                    <%=f.input :zip_code %>
                  </div>
                  <div class="input-field col s6">
                    <%=f.input :city %>
                  </div>
                </div>

                <!-- BAD STYLE -->
                <!-- need refactoring, but with Materialize, don't know how to use simple_form to handle this one -->
                <div class="input-field col s12">
                  <select name="user[time_slot]" id="user_time_slot">
                    <option value="" disabled selected>Choose your option</option>
                    <% ["12H30", "13H00", "13H30", "14H00"].each_with_index do |time_slot, index| %>
                      <option <%= @user.time_slot == index + 1 ? "selected" : "" %> value="<%= index + 1 %>"><%= time_slot %></option>
                    <% end %>
                  </select>
                  <label>Créneau Horaire</label>
                </div>
                <!-- BAD STYLE -->

                <div class="card_food_preferences">
                 <div class="row">
                   <div class="col s7">
                    <div class="valign-wrapper">
                      <%= f.association :favorite_categories, as: :check_boxes %>
                    </div>
                   </div>
                 </div>
                </div>
              </div>
            <%= button_tag(type: 'submit', class:"btn waves-effect waves-light")do %>
            <i class="material-icons right">send</i> Mettre à jour
          </div>
          <% end %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
