<h2></h2>
<center>
<div class="container">
  <div class="row">
    <div class="login-form ">
      <div class="col s12 z-depth-4 login-page card-panel small">
      <div class="row">
        <div class="input-field col s12 center">
          <h4>INVITATION</h4>
          <p class="center">Joindre la communauté MES MIDIS !</p>
        </div>
      </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :email, required: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "JE ME CONNECTE" %>
        </div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

</center>
