
<div class="container">
  <div class="row">
  <div class="col-s12">
    <%= simple_form_for @user_subscription do |f| %>
      <%= label_tag "", "QUEL ABONNEMENT VOULEZ-VOUS CHOISIR ?" %>
        <% @subscriptions.each do |subscription| %>
          <div class="subscription-card">
            <div class="col s4">
            <label for="<%= "user_subscription_subscription_id_#{subscription.id}" %>">
              <%= radio_button_tag "user_subscription[subscription_id]", subscription.id, checked = false ,options = {class: "hide-radio"} %>
              <h2 class="align-center"><%= subscription.name %></h2><br>
              <p>Description:  <%= subscription.description %></p><br>
              <p>Nombre de repas:  <%= subscription.meals_count %></p><br>
              <h3>Prix:  <%= subscription.price %>€<h3>
            </label>
             </div>
          </div>
      <% end %>
    <%= submit_tag("Abonnez vous", class: "form-submit-btn btn-unmarged") %>
    <% end %>
  </div>
  </div>
</div>


