
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class= "subscription-choice"> QUEL ABONNEMENT VOULEZ-VOUS CHOISIR ?</h3>

        <% @subscriptions.each do |subscription| %>
          <%= simple_form_for @user_subscription do |f| %>
            <div class="col s4">
            <div class="subscription-card card">
              <div class="subscription-title">
                <h3 class=><%= subscription.name %></h3>
              </div>
              <div class="subscription-description ">
                <p class= "center"><%= subscription.description %></p>
                <p class='center'> <%= image_tag "icon_meal_red.png" %> <%= subscription.meals_count %> repas</p>
              </div>
              <div class="subscription-price">
                <h5>Prix:<%= humanized_money(subscription.price) %>€<h5>
              </div>
              <div class="stripe_payment">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="Subscription for <%= subscription.name %>"
                  data-email="<%= current_user.email %>"
                  data-description="Subscription <%= subscription.description %>"
                  data-amount="<%= subscription.price_cents %>"
                  data-currency="<%= subscription.price.currency %>">
                </script>
                <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        document.getElementsByClassName("stripe-button-el")[1].style.display = 'none';
        document.getElementsByClassName("stripe-button-el")[2].style.display = 'none';
    </script>
    <%= f.button :submit, "Acheter" %>
              </div>
            </div>
            </div>
            <%= f.hidden_field :subscription_id, :value => subscription.id %>
          <% end %>
        <% end %>
      </div>

  </div>
</div>


