<div class="col s12">
<div class="flex-meal-of-day">
  <div class="card hoverable card-meal-today">
    <div class="card-image white-text" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%), url('<%= cl_image_path(@meal_reserved.meal.picture, :height => 215, :crop => :fill) %>');">
      <div class="card-description-content">
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-description-content-meal">
      <p class="uppercase name">date : <%= @meal_reserved.date.strftime("%d/%m/%Y")  %></p>
        <p class="uppercase name">plat : <%= @meal_reserved.meal.name %></p>
        <p class="uppercase name">restaurant : <%= @meal_reserved.meal.restaurant.name %></p>
        <p class="uppercase name">adresse : <%= @meal_reserved.meal.restaurant.address %> - <%= @meal_reserved.meal.restaurant.city.capitalize %></p>
        <p class="uppercase name">à emporter : <%= @meal_reserved.time_slot %></p>
      <div class="divider"></div>
</div>
<div class="card-bottom-restaurant">

      <%= link_to 'annuler ma réservation', order_path(@meal_reserved.id), method: :delete, class: "uppercase", data: { confirm: 'Confirmez-vous votre annulation ?', 'confirm-button-text': 'JE CONFIRME','cancel-button-text': 'RETOUR','confirm-button-color': '#3FA9A7','sweet-alert-type': 'question' } %>
      -
      <%= link_to 'me renvoyer un mail de confirmation', order_path(@meal_reserved.id), method: :delete, class: "uppercase", data: { confirm: 'Confirmez-vous votre annulation ?', 'confirm-button-text': 'JE CONFIRME','cancel-button-text': 'RETOUR','confirm-button-color': '#3FA9A7','sweet-alert-type': 'question' } %>

</div>
    </div>
  </div>
</div>
</div>

