<div class="col s12 m6 l4">
  <figure class="card hoverable card-meal">
    <div class="card-image" id="meal-tuesday">
<!-- <a href="#<%= meal.id %><%= meal.restaurant_id %>" class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add</i></a>
      <%=  cl_image_tag(meal.picture,
      height: 240, crop: :fill)  %>-->

      <span class="card-name uppercase"><%= meal.name %></span>
    </div>
    <div class="card-content">
      <div class="card-category"><%= meal.category.name %></div>

      <span class="card-button"><a href="#!" class="waves-effect waves-light btn btn-small waves-green uppercase">je réserve</a></span>
      <span class="card-restaurant"><%= meal.restaurant.name %> (<strong>500m</strong>)</span>
      <span class="card-address"><%= meal.restaurant.address %></span>
    </div>

<!-- Modal Structure-->
<figcaption id="<%= meal.id %><%= meal.restaurant.id %>" class="modal menu-item-container">
  <div class="modal-content">

    <div class="row">
    <div class="col s12"><h4 class="uppercase"><%= meal.name %></h4></div>
      <div class="col s6"><%=  cl_image_tag(meal.picture,
      height: 220, crop: :fill, class: "responsive-img hoverable")  %></div>
      <div class="col s6">
        <p>description du plat proposé par le restaurateur</p>
        <p>Restaurant : <%= meal.restaurant.name %></p>
        <p>adresse : <%= meal.restaurant.address %></p>
      </div>
      <div class="col s12 center">
<p>Date à emporter : xxxx xx xxxxx</p>


      </div>
    </div>
  </div>
  <div class="modal-footer center">
    <a href="#!" class=" modal-action modal-close waves-effect waves-light btn-large waves-green btn-flat uppercase">je réserve</a>
  </div>
</figcaption>
  </figure>
</div>
