<!-- Dropdown Structure -->

<div class="navbar-fixed">
    <!-- Dropdown structure -->
    <ul id="dropdown1" class="dropdown-content" >
      <li><%= link_to "", href: meals_path do %>
      <%= image_tag "plate_navbar.png", class: "icon-navbar"%> PLAT DU JOUR
      <% end %>
      </li>
        <li><%= link_to "", href: edit_profile_path do %>
        <%= image_tag "usernavbar.png", class: "icon-navbar"%> MON PROFIL
          <% end %>
        </li>
        <li><%= link_to "", href: new_user_subscription_path do %>
        <%= image_tag "abonnement_navbar.png", class: "icon-navbar"%>ABONNEMENT
          <% end %>
        </li>
        <li class="divider"></li>
        <li><%= link_to "DECONNEXION", href: destroy_user_session_path, method: :DELETE do %>
        <i class="fa fa-sign-out icon-navbar"  aria-hidden="true"></i>DECONNEXION
          <% end %>
        </li>
    </ul>
      <nav>
        <div class="nav-wrapper">
        <%= link_to "home-page",href: root_path do %>
          <%= image_tag "logo.png", id: "logo"%>
        <% end %>
            <ul class="right hide-on-med-and-down">
                <li><%= link_to "confirm page", href: "" do %>
                <%= image_tag "icon_meal.png", id: "logo_notifications"%>
                <% end %></li>
            <!-- Dropdown Trigger -->
                <% if user_signed_in? %>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">MON COMPTE<i class="material-icons right">arrow_drop_down</i></a></li>
              <% else %>
                <li><%= link_to "SE CONNECTER", new_user_session_path, class: "waves-effect waves-light btn btn-navbar" %></li>
              <% end %>
            </ul>
        </div>
      </nav>
    </div>


