<div class="media-section">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="city" type="text" class="validate" placeholder="<%= current_user.address %> <%= current_user.city %>">
              <label class="active" for="city">adresse du pickup</label>
            </div>
            <div class="input-field col s12">
              <ul class="collapsible popout" data-collapsible="accordion">
              <li>
      <div class="collapsible-header"><i class="material-icons right">keyboard_arrow_down</i> Plus de filtres </div>
      <div class="collapsible-body"><span>
      <%= simple_form_for current_user, url: profile_path, method: :patch do |f| %>
        <div class="valign-wrapper left-align">
                      <%= f.association :favorite_categories, as: :check_boxes, label: ""%>
                      <%= f.button :submit, 'rechercher', class:"btn waves-effect waves-light btn" %>

                    </div>
                    <% end %>
      </span></div>
    </li>
    </ul>
    </div>
          </div>
        </form>
      </div>
    </div>
