<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="user-details red darken-2">
    </li>
    <li class="bold"><%= link_to "Frameworks", "#frameworks", class: "waves-effect waves-cyan" %></li>
    <li class="bold"><%= link_to "Inspiration", "#inspiration", class: "waves-effect waves-cyan" %></li>
    <!-- ELEMENTS DE BASE -->
    <li class="bold"><%= link_to "Base", "#", class: "collapsible-header  waves-effect waves-cyan" %>
      <div class="collapsible-body" style="display: block;">
        <ul>
          <li><%= link_to "Typography", "#typography" %></li>
          <li><%= link_to "Colors", "#colors" %></li>
          <li><%= link_to "Buttons", "#buttons" %></li>
          <li><%= link_to "Labels", "#labels" %></li>
          <li><%= link_to "Logo", "#logo" %></li>
          <li><%= link_to "Images", "#images" %></li>
        </ul>
      </div>
    </li>
    <!-- components -->
    <li class="bold"><%= link_to "Components", "#", class: "collapsible-header  waves-effect waves-cyan" %>
      <div class="collapsible-body" style="display: block;">
        <ul>
          <li><%= link_to "Alerts", "#alerts" %></li>
          <li><%= link_to "Badges", "#badges" %></li>
          <li><%= link_to "Cards", "#cards" %></li>
          <li><%= link_to "forms", "#forms" %></li>
        </ul>
      </div>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>
<!-- END LEFT SIDEBAR NAV-->
<section id="content main">
  <div class="container">
    <div class="row">
      <div class="col s6 center">
        <h1>GUIDELINE</h1>
      </div>
    </div>
    <div class="divider"></div>
    <h2 class="style-guide--entry">FRAMEWORKS</h2>
    <div class="section" id="frameworks">
      <p><%= link_to "materialize", "https://materializecss.com/" %></p>
      <p><%= link_to "spécifications", "https://github.com/mkhairi/materialize-sass/blob/master/app/assets/stylesheets/materialize/components/_variables.scss" %></p>
    </div>
    <div class="divider"></div>
    <h2 class="style-guide--entry">INSPIRATION</h2>
    <div class="section" id="inspiration">
      <p>inspiration</p>
    </div>
    <div class="divider"></div>
    <h2 class="style-guide--entry">BASE</h2>
    <div class="section" id="typography">
      <h3 class="style-guide--subentry">Typography</h5>
      <h1>H1 Header</h1>
      <h2>H2 Header</h2>
      <h3>H3 Header</h3>
      <h4>H4 Header</h4>
      <h5>H5 Header</h5>
      <h6>H6 Header</h6>
      <p>paragraph</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="colors">
      <H3 class="style-guide--subentry">COLORS</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="buttons">
      <H3 class="style-guide--subentry">BUTTONS</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="Labels">
      <H3 class="style-guide--subentry">LABELS</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="Logo">
      <H3 class="style-guide--subentry">LOGO</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="images">
      <H3 class="style-guide--subentry">IMAGES</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="alerts">
      <H3 class="style-guide--subentry">ALERTS</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="badges">
      <H3 class="style-guide--subentry">BADGES</h5>
      <p>Stuff</p>
    </div>
    <div class="divider"></div>
    <div class="section" id="cards">
      <H3 class="style-guide--subentry">CARDS</h5>
      <div class="row">
      <% @today_meals.first do |meal| %>
        <%= render 'shared/card', meal: meal %>
        <% end %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section" id="forms">
      <H3 class="style-guide--subentry">FORMS</h5>
      <p>Stuff</p>
    </div>
  </div>
</section>
<% content_for(:after_js) do %>
<script type="text/javascript">
// Initialize collapse button
$(".button-collapse").sideNav();
// Initialize collapsible (uncomment the line below if you use the dropdown variation)
//$('.collapsible').collapsible();
<% end %>
<% content_for(:after_css) do %>
<%= stylesheet_link_tag 'pages/guideline', media: 'all' %>
<% end %>
