<div class="banner">
  <div class="row">
    <div id="baseline-banner", class="col s7">
      <%= image_tag "baseline-image.png", id: "baseline_image" %>
      <div class="btn-home">
         <% if user_signed_in? %>
         <%= button_to "accèder à vos plats du jour", meals_path, id: "banner-button", class: "btn waves-effect waves-light btn-large btn-home-inside uppercase", method: :get %>
         <% else %>
         <%= button_to "tester mes midis", new_user_registration_path, id: "banner-button", class: "btn waves-effect waves-light btn-large btn-home-inside uppercase", method: :get %>
         <% end %>
       </div>
    </div>
    <div class="col s5">
    <div class="meals-home">
      <div id="meal-monday", class="meals-image">
        <p id="meal-day">Lundi</p>
      </div>
      <div id="meal-tuesday", class="meals-image">
        <p id="meal-day">Mardi</p>
      </div>
      <div id="meal-wednesday", class="meals-image">
        <p id="meal-day">Mercredi</p>
      </div>
      <div id="meal-thursday", class="meals-image">
        <p id="meal-day">Jeudi</p>
      </div>
      <div id="meal-friday", class="meals-image">
        <p id="meal-day">Vendredi</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="center-align" style="text-transform: uppercase;">comment ça marche ? </h2>
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
          <%= image_tag "monitor.png", class: "icons"%></h2>
          <h3 class="center">CHOISISSEZ</h3>
          <p class="center-align">Commandez sur le site parmi un large choix de plats du jour.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
          <%= image_tag "shopping-bag.png", class: "icons"%>
          </h2>
          <h3 class="center">EMPORTEZ</h3>
          <p class="center-align">Venez retirer votre commande déja
          prête, en quelques minutes.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text">
          <%= image_tag "restaurant.png", class: "icons"%></h2>
          <h3 class="center">SAVOUREZ</h3>
          <p class="center-align">Régalez-vous tous les midis.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-map">
    <div class="searchbar">
      <div class="row">
        <div class="col s6">
          <form>
            TROUVEZ LES RESTOS PROCHE DE VOUS<input placeholder="Tapez votre adresse" id="address-autocomplete" type="text" name="address"><br>
            <button id="map-search" class="btn waves-effect waves-light">rechercher</button>
          </form>
        </div>
      </div>
    <div class="media-aside">
      <div class="media-section">
      <div id="map" style="width: 50%; height: 400px;"></div>
      <%= render '/shared/js-googlemap' %>
      </div>
    </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
<script>
  var geocoder = new google.maps.Geocoder();

$("#map-search").on("click", function(e){
  e.preventDefault();
  // console.log($("#address-autocomplete").value);
  geocoder.geocode({'address': $("#address-autocomplete").val()}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      console.log(results);
      handler.map.centerOn(results[0].geometry.location);
    }
    else {
     console.log('Geocode was not successful for the following reason: ' + status);
    }
  });
});
</script>
<% end %>
