
    <div class="carousel carousel-slider banner" style="height: 60vh;">

    <div class="carousel-fixed-item center">

      <h2>OFFREZ-VOUS</h2> <h1>LE RESTO</h1> <h2>CHAQUE MIDI</h2> <h1>POUR 6 €</h1>
      <% if user_signed_in? %>
      <%= button_to "ACCEDER AUX PLATS DU JOUR ", meals_path, id: "banner-button", class: "btn waves-effect waves-light btn-large", method: :get %>
      <% else %>
      <%= button_to "DEMANDER UNE INVITATION ", new_user_registration_path, id: "banner-button", class: "btn waves-effect waves-light btn-large", method: :get %>
      <% end %>
    </div>
    <div class="carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('http://lorempixel.com/1700/600food/1');"></div>
    <div class="carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('http://lorempixel.com/1700/600/food/2');"></div>
    <div class="carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('http://lorempixel.com/1700/600/food/3');"></div>
    <div class="carousel-item" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url('http://lorempixel.com/1700/600/food/4');"></div>
    </div>

 <div class="container">
 <h2 class="center-align" style="text-transform: uppercase;">comment ça marche ? </h2>
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
            <%= image_tag "monitor.png", class: "icons"%></h2>
            <h4 class="center">CHOISISSEZ</h4>
            <h5 class="center-align">Commandez sur le site parmi un large choix de plats du jour</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
            <%= image_tag "shopping-bag.png", class: "icons"%>
            </h2>
            <h4 class="center">EMPORTEZ</h4>

            <h5 class="center-align">Venez retirer votre commande déja
            prête, en quelques minutes</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">
            <%= image_tag "restaurant.png", class: "icons"%></h2>
            <h4 class="center">SAVOUREZ</h4>
            <h5 class="center-align">Régalez-vous tous les midis.</h5>
          </div>
        </div>
      </div>
 <!--    <div class= "mapping-container">
    </div> -->
  </div>
  </div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel.carousel-slider').carousel({fullWidth: true});
      autoplay()
  function autoplay() {
    $('.carousel').carousel('next');
    setTimeout(autoplay, 6000);
}
  });
 $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>
<% end %>
