<div class="container">
  <h2>Vous mangez quoi ce midi ? </h2>
</div>
<div class="media">
  <div class="media-body">

    <%= render 'search_meals' %>


    <%= render 'shared/meal_of_day' %>
<div class="media-section">
      <div class="row">
        <% meal = @meal_reserved.meal %>
          <%= render 'shared/card-meal', meal: meal, order: @order %>





      </div>

    </div>
    <div class="media-section">
      <div class="row">
        <% @today_meals.each do |meal| %>
          <%= render 'shared/card-meal', meal: meal, order: @order %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
    <div id="map" style="width: 100%; height: 600px;"></div>
      <%= render '/shared/js-googlemap' %>
    </div>
  </div>
</div>
