<% if @meal_reserved == nil %>
<div class="media">
  <div class="media-body">
  <h2 class="center">Vous mangez quoi ce midi ? </h2>
    </div>
<div class="media-aside"></div>
    </div>
 <div class="media">
  <div class="media-body">
  <%= render 'shared/search-meal' %>
    <div class="media-section media">
      <div class="row">
        <% @today_meals.each do |meal| %>
        <%= render 'shared/card-meal', meal: meal, order: @order %>
        <% end %>
      </div>
    </div>
    <div class="media-section media">
      <div class="row">
        <% @today_meals.each do |meal| %>
        <%= render 'shared/card-meal', meal: meal, order: @order %>
        <% end %>
      </div>
    </div>
    <div class="media-section media">
      <div class="row">
        <% @today_meals.each do |meal| %>
        <%= render 'shared/card-meal', meal: meal, order: @order %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <div id="map" style="width: 100%; height: 600px;"></div>
      <%= render '/shared/js-googlemap' %>
    </div>
  </div>
  <% else %>
<div class="media">
  <div class="media-body">
  <h2 class="center title-done">Votre réservation du midi</h2>
    </div>
<div class="media-aside"></div>
    </div>
  <div class="media">
    <div class="media-body">
      <div class="media-section">
        <div class="row">
          <!-- display meal order for the day -->
          <%= render 'shared/card-meal-of-day' %>
        </div>
      </div>
    </div>
    <div class="media-aside">
      <div class="media-section">
        <div id="map" style="width: 100%; height: 600px;"></div>
        <%= render '/shared/js-googlemap' %>
      </div>
    </div>
    <% end %>
  </div>

<!-- new section test with grid -->




